<html>
<head>
<title>About Us</title>
<link rel="stylesheet" href="/static/bootstrap/style.css"/>	
</head>
<body>

{% extends "Boafo/base.html" %}

{% block content %}
<h2>About Boafo</h2>
<p>
Boafo is an SMS based application that provides contacts of service providers to people who may be in need of a particular service. visit <a href="http://www.brainboxgh.com/cs" target="_blank">Submit a Service</a> to submit or rate a service provider.</p>
<h4>Description</h4>
<p>
Boafo is a service that provides a user with information on where to get help when requested.

These include information on service providers, like food vendors, electrical and electronic technicians, fashion designers, just to mention a few. 
</p>
<p>All the user needs to do is to text the required service and their location (Food Legon) to our short code (1122), and the user will recieve the contact details of service providers in their loacality.</p>
{% endblock %}
</body>
</html>
