<html>
<head>
<title>Category List</title>
<link rel="stylesheet" href="/static/bootstrap/style.css"/>	
</head>
<body>

{% extends "Boafo/base.html" %}

{% block content %}
<h2>List of all Services</h2>
{% for service in services %}


<!-- this is the worst, but simplest way to link to the specific post.
     Read the document mentioned in the instructions for more info
		<a href="/serviceprovider_list/{{ svc.id }}">{{ category.service_category }}</a>-->


<!--<li>{{service.pk}} : {{ service.service }}</li>-->

<ul>
<ol><a href="/Boafo/provider/{{service.pk}}">{{service.pk}} : {{ service.service }}</a><br/></ol>
</ul>
{% endfor %}


{% endblock %}
</body>
</html>
